@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src:
    url('../fonts/Inter-ExtraLight.woff2') format('woff2'),
    url('../fonts/Inter-ExtraLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src:
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src:
    url('../fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    appearance: none;
  }
}

:root {
  --color-accent: 291deg 27% 15%;
  --color-accent-dark: 323deg 33% 15%;
  --color-accent-inverted: 228deg 100% 60%;
  --color-accent-highlight: 327deg 36% 19%;
  --color-atom: 233deg 13% 50%;
  --color-axlusdc: 211deg 68% 57%;
  --color-body: 0deg 0% 0%;
  --color-body-hls: 0deg 0% 0%;
  --color-body-dark: 0deg 0% 0%;
  --color-chart: 0deg 0% 7%;
  --color-error: 4deg 86% 58%;
  --color-error-bg: 4deg 96% 80%;
  --color-fuchsia: 312deg 46% 49%;
  --color-green: 153deg 96% 30%;
  --color-grey: 280deg 1% 56%;
  --color-grey-dark: 229deg 17% 12%;
  --color-grey-highlight: 0deg 0% 30%;
  --color-grey-light: 0deg 0% 75%;
  --color-grey-medium: 218deg 12% 43%;
  --color-info: 39deg 98% 56%;
  --color-info-bg: 44deg 98% 74%;
  --color-input: 229deg 12% 18%;
  --color-loss: 11deg 96% 46%;
  --color-mars: 354deg 46% 43%;
  --color-martian-red: 2deg 100% 69%;
  --color-orb-primary: 4deg 65% 42%;
  --color-orb-primary-hls: 2deg 100% 69%;
  --color-orb-secondary: 277deg 90% 27%;
  --color-orb-secondary-hls: 354deg 46% 43%;
  --color-orb-tertiary: 313deg 100% 50%;
  --color-orb-tertiary-hls: 20deg 95% 68%;
  --color-profit: 95deg 85% 35%;
  --color-primary: 1deg 100% 68%;
  --color-purple: 244deg 71% 69%;
  --color-purple-dark: 266deg 46% 60%;
  --color-secondary: 20deg 95% 68%;
  --color-success: 150deg 66% 52%;
  --color-success-bg: 148deg 74% 67%;
  --color-vote-against: 31deg 80% 60%;
  --color-warning: 34deg 94% 50%;
  --color-warning-bg: 42deg 99% 65%;
  --color-white: 0deg 0% 100%;
  --color-pink: 343deg 67% 61%;
  --color-black: 0deg 0% 0%;
  --color-vault-blue-primary: 184deg 66% 61%;
  --color-vault-blue-secondary: 227deg 96% 67%;
  --color-vault-blue-tertiary: 259deg 100% 50%;
  --color-vault-purple-primary: 241deg 64% 64%;
  --color-vault-purple-secondary: 101deg 45% 39%;
  --color-vault-pink-primary: 295deg 100% 50%;
  --color-hls-primary: 2deg 99% 68%;
  --color-hls-secondary: 20deg 95% 68%;
  --color-slider-1: 334deg 6% 53%;
  --color-slider-2: 341deg 25% 62%;
  --color-slider-3: 342deg 31% 64%;
  --color-slider-4: 340deg 58% 71%;
  --color-slider-5: 335deg 54% 67%;
  --color-slider-6: 315deg 44% 51%;
  --color-slider-7: 313deg 47% 48%;
  --color-slider-8: 301deg 79% 33%;
  --color-slider-pink-primary: 343deg 100% 69%;
  --color-slider-pink-secondary: 280deg 9% 25%;
  --color-slider-green-primary: 126deg 100% 69%;
  --color-slider-green-secondary: 280deg 9% 25%;
  --color-slider-red-primary: 4deg 86% 58%;
  --color-slider-red-secondary: 280deg 9% 25%;
  --color-slider-tooltip-primary: 234deg 48% 15%;
  --color-slider-tooltip-secondary: 266deg 56% 14%;
  --color-active-tab-primary: 299deg 92% 39%;
  --color-active-tab-secondary: 343deg 100% 81%;
  --color-active-tab-tertiary: 13deg 33% 14%;
  --color-card-bg: 0deg 0% 5%;
  --color-card-border: 0deg 0% 10%;
  --color-surface: 0deg 0% 7%;
  --color-surface-dark: 0deg 0% 5%;
}

:root[data-theme='light'] {
  --color-body: 0deg 0% 100%;
  --color-body-hls: 0deg 0% 100%;
  --color-white: 0deg 0% 20%;
  --color-chart: 0deg 0% 93%;
  --color-black: 0deg 0% 100%;
  --color-purple: 47deg 97% 67%;
  --color-purple-dark: 36deg 99% 65%;
  --color-martian-red: 40deg 100% 73%;
  --color-pink: 2deg 99% 68%;
  --color-fuchsia: 2deg 99% 68%;
  --color-slider-pink-primary: 2deg 99% 68%;
  --color-slider-pink-secondary: 2deg 99% 68%;
  --color-green: 124deg 57% 79%;
  --color-warning: 40deg 100% 79%;
  --color-orb-primary: 0deg 0% 70%;
  --color-orb-primary-hls: 0deg 0% 70%;
  --color-orb-secondary: 0deg 0% 70%;
  --color-orb-secondary-hls: 0deg 0% 70%;
  --color-orb-tertiary: 0deg 0% 70%;
  --color-orb-tertiary-hls: 0deg 0% 70%;
  --color-error: 0deg 97% 75%;
  --color-slider-1: 57deg 97% 85%;
  --color-slider-2: 57deg 97%, 75%;
  --color-slider-3: 47deg 97% 79%;
  --color-slider-4: 47deg 97% 67%;
  --color-slider-5: 36deg 97% 77%;
  --color-slider-6: 36deg 97% 65%;
  --color-slider-7: 36deg 99% 65%;
  --color-slider-8: 36deg 99% 65%;
  --color-active-tab-primary: 47deg 97% 79%;
  --color-active-tab-secondary: 36deg 99% 65%;
  --color-active-tab-tertiary: 57deg 97% 85%;
  --color-card-bg: 0deg 0% 95%;
  --color-card-border: 0deg 0% 85%;
  --color-surface: 0deg 0% 93%;
  --color-surface-dark: 0deg 0% 90%;
}

:root[data-theme='dark'] {
  --color-body: 0deg 0% 0%;
  --color-body-hls: 0deg 0% 0%;
  --color-chart: 0deg 0% 7%;
  --color-orb-primary: 0deg 0% 0%;
  --color-orb-primary-hls: 0deg 0% 0%;
  --color-orb-secondary: 0deg 0% 0%;
  --color-orb-secondary-hls: 0deg 0% 0%;
  --color-orb-tertiary: 0deg 0% 0%;
  --color-orb-tertiary-hls: 0deg 0% 0%;
  --color-card-bg: 0deg 0% 5%;
  --color-card-border: 0deg 0% 10%;
  --color-surface: 0deg 0% 7%;
  --color-surface-dark: 0deg 0% 5%;
}

.Toastify__toast {
  transition-property: background-color;
  transition-duration: 1500ms;
  transition-timing-function: ease-in-out;
  background-color: #fedb7c33;
}

.Toastify__toast--success {
  background: #6ce9a633;
}

.Toastify__toast--error {
  background-color: #fda29b33 !important;
}

table tr:last-child td {
  border-bottom-width: 0;
}

svg {
  width: 100%;
  height: auto;
}

.rounded-full.overflow-hidden svg {
  width: auto;
  height: 100%;
}
