@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-ExtraLight.woff2') format('woff2'),
    url('../fonts/Inter-ExtraLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  color: white;
  background-color: #141621;
}

html {
  scrollbar-width: none;
}

body {
  overflow-y: scroll;
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.number {
  white-space: nowrap;
  font-feature-settings: 'tnum' on;
}

/* ORBS */
@mixin orbs($count, $hue) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
      (-0.5+ (random()) * 3) + em (-0.5+ (random()) * 3) + em 10px rgb(92, 5, 92);
    // hsla((random() * 50)+$hue, 100%, 45%);
  }
  text-shadow: $text-shadow;
}

@mixin newOrbs($count, $color) {
  filter: blur(4px);
  background: radial-gradient(circle at center, rgba($color, 0.25) 0%, rgba($color, 0) 20%);
}

.background {
  font-family: serif;
  font-size: 90px;
  overflow: hidden;
  background: #0b0e20;
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;

  &:before,
  &:after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: '.';
    color: transparent;
    mix-blend-mode: screen;
  }

  &:after {
    top: 10%;
    left: 10%;
    @include newOrbs(1, rgb(177, 47, 37));
  }

  &:before {
    top: 80%;
    left: 80%;
    @include newOrbs(1, rgb(83, 7, 129));
    animation-duration: 300s;
    // animation-delay: -50s;
    animation: 180s -15s move infinite ease-in-out alternate;
  }

  &:after {
    // @include orbs(15, 260);
    animation-duration: 600s;
    animation: 180s 0s move infinite ease-in-out alternate;
  }
}

/* react-toastify */
/* https://fkhadra.github.io/react-toastify/how-to-style#override-css-variables  */
.Toastify__toast {
  @apply text-sm;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-green-500;
}

/* KEYFRAMES */
@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
