@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* react-toastify */
/* https://fkhadra.github.io/react-toastify/how-to-style#override-css-variables  */
.Toastify__toast {
  @apply text-sm;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-green-500;
}
