html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;

  background-color: #562a3b;
  background-size: 100% auto;
  background-image: url("/background.svg");
  background-position: center top;

  filter: brightness(1) hue-rotate(0deg);
  transition: 3s filter linear, 3s -webkit-filter linear;

  /* &.night {
      filter: brightness(0.3) hue-rotate(-82deg);
  } */
}
